.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
     border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.header {
    font-family: 'Monoton', cursive;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 5s infinite linear;
}

.sub-header {
    font-family: 'Playball', cursive;
    font-size: 1.2rem;
    font-weight: 600;
    /*letter-spacing: 1px;*/
    /*text-align: center;*/
    /*color: #f35626;*/
    /*background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*-webkit-animation: hue 0s infinite linear;*/
}

.c-title {
    font-family: 'Playball', cursive;
    font-size: 2rem;
    /*font-weight: 600;*/
    /*letter-spacing: 1px;*/
    /*text-align: center;*/
    /*color: #f35626;*/
    /*background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*-webkit-animation: hue 5s infinite linear;*/
}

body a{
    font-family: 'Playball', cursive;
    /*font-weight: 300;*/
    /*letter-spacing: 1px;*/
    /*text-align: center;*/
    /*color: #f35626;*/
    /*background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*-webkit-animation: hue 5s infinite linear;*/
}

body button{
    font-family: 'Playball', cursive;
    /*font-weight: 600;*/
    /*letter-spacing: 1px;*/
    /*text-align: center;*/
    /*color: #f35626;*/
    /*background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*-webkit-animation: hue 5s infinite linear;*/
}

.active {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(90deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

a {
    white-space: nowrap;
}
